---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <div class="content">
                
          <div class="post-title">
                    <h1>{{ page.title }}</h1>
                    <a class="btn zoombtn" href="{{site.url}}">
                        <i class="fa fa-home"></i>
                    </a>
                </div>
               
                
<!--              <div class="post-list">
                   
                    <ul>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                        <h3 class="title">
                         <a class="btn zoombtn" href="https://minjk121.github.io/ECE4960">
                            <b>Fast Robots</b>
                         </a>
                        <a class="btn zoombtn" href="https://courses.ece.cornell.edu/ece5990/ECE5725_Spring2022_Projects/Wednesday%20May%2018/Campus%20Congestion/W_ei53_mk2592/index.html">
                            <b>Campus Congestion</b>
                         </a>
                      <a class="btn zoombtn" href="https://pages.github.coecis.cornell.edu/yw575/ECE4760.github.io/#">
                            <b>Spatial Audio</b>
                         </a>
                      
                          </h3>
                        </li>
                    </ul>

                </div> -->

                <div class="post-list">
                    
                    <ul>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            <a class="zoombtn"> MEng Project </a>                         
                            <p> Run Hide Activate </p>
<!--                             <a href="https://drive.google.com/file/d/1-PkryLHeFyuD3ueepHlTen7bXUpKw_Qe/view?usp=drive_link"> <img src="../projects/poster.png" alt="test" style="width:150px;height:150px;"> RHA MEng Poster </a> -->
                            <a href="https://drive.google.com/file/d/1-PkryLHeFyuD3ueepHlTen7bXUpKw_Qe/view?usp=drive_link" class="btn zoombtn"> <img src="../projects/poster.png" alt="test" style="width:150px;height:150px;" >RHA MEng Poster</a>
                        </li>
                    </ul>
                     
                </div>
                
                <div class="post-list">
                    
                    <ul>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            <a class="zoombtn"> FPGA Projects </a>                         
                            <p> DE1-SoC Project Webpage & Demo Videos </p>
                            <a href="https://ryanchantech.github.io/ECE5760-Website/" class="btn zoombtn"> <img src="../projects/dreamteam.png" alt="test" style="width:150px;height:150px;"> Dancing Boids Webpage </a>
                            <a href="https://youtu.be/Bqm-NOaz5Oo" class="btn zoombtn"> <img src="../projects/drum.jpg" alt="test" style="width:150px;height:150px;"> Multiprocessor Drum Synthesis </a>
                            <a href="https://youtu.be/ddcsT2vc6rI" class="btn zoombtn"> <img src="../projects/mandel.jpg" alt="test" style="width:150px;height:150px;"> Mandelbrot Set Visualizer </a>
                            <a href="https://youtu.be/chxQVyeJzqI" class="btn zoombtn"> <img src="../projects/butterfly.jpg" alt="test" style="width:150px;height:150px;"> Hardware ODE Solver </a>

                        </li>
                    </ul>
                     
                </div>
                
                <div class="post-list">
                    
                    <ul>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            <a class="zoombtn"> Embedded Operating Systems Project </a>
                            <p> This project got published in CIRCUIT CELLAR 395 JUNE 2023!  </p>
                            <a href="https://courses.ece.cornell.edu/ece5990/ECE5725_Spring2022_Projects/Wednesday%20May%2018/Campus%20Congestion/W_ei53_mk2592/index.html" class="btn zoombtn"> <img src="../projects/congestion.jpg" alt="test" style="width:150px;height:150px;"> Campus Congestion Webpage </a>
                            <a href="https://drive.google.com/file/d/1x7x5IOK-Kil106LvSahxZvkjxLrkRrFR/view?usp=sharing" class="btn zoombtn"> <img src="../projects/circuitcellarpublished.png" alt="no image" style="width:150px;height:150px;"> Campus Congestion Page </a>
                            <a href="https://cc-webshop.com/collections/circuit-cellar-2023/products/circuit-cellar-395-june-2023-pdf" class="btn zoombtn"> <img src="../projects/circuitcellar.png" alt="no image" style="width:150px;height:150px;"> Circuit Cellar #395 </a>
                            
                        </li>
                    </ul>
                     
                </div>
              
                <div class="post-list">
                    
                    <ul>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            <a class="zoombtn"> Microcontroller Projects </a>
                            <p> RP2040 Project Website & Demo Videos </p>
                            <a href="https://pages.github.coecis.cornell.edu/yw575/ECE4760.github.io/#" class="btn zoombtn"> <img src="../projects/spatial.png" alt="test" style="width:150px;height:150px;"> Spacial Audio Webpage </a>
                            <a href="https://youtu.be/63pg6Ao5Tq0" class="btn zoombtn"> <img src="../projects/boids.jpg" alt="test" style="width:150px;height:150px;"> The Boids and the Bees </a>
                            <a href="https://youtu.be/TbDa0rs1rJg" class="btn zoombtn"> <img src="../projects/pid.jpg" alt="test" style="width:150px;height:150px;"> PID Control </a>
                        </li>
                    </ul>
                     
                </div>
   
                 <div class="post-list">
                    
                    <ul>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            <a class="zoombtn"> Fast Robots Project </a>
                            <p> Fast Autonomous Car with sensors & Bluetooth </p>
                            <a href="https://minjk121.github.io/ECE4960/" class="btn zoombtn"> <img src="../projects/robot.jpeg" alt="test" style="width:150px;height:150px;"> Fast Robot Webpage</a>

                        </li>
                    </ul>
                     
                </div>
                
                
<!--                 <div class="post-list">
                    {% for post in site.posts %} 
                        {% if post.project %}
                    <ul>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            <a class="zoombtn" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                            <p>{{ post.excerpt }}</p>
                            <img src="../projects/{{ post.url }}.png" alt="{{ post.url }}" >
                            <a href="{{ site.url }}{{ post.url }}" class="btn zoombtn">Read More</a>
                        </li>
                    </ul>
                      {% endif %}
                    {% endfor %}
                </div> -->
                <div class="post-list">
                    
                    <ul>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            <a class="zoombtn" href="https://minjk121.github.io/toddle/">Break Through AI X Google Project</a>
                            <p> Too-Distracted-Didn't-Listen-Enough </p>
<!--                             <a href="https://minjk121.github.io/toddle/" class="btn zoombtn"> Read More</a> -->
                            <a href="https://minjk121.github.io/toddle/" class="btn zoombtn"> <img src="../projects/toddle.png" alt="test" style="width:150px;height:150px;" > TODDLE </a>
                        </li>
                    </ul>
                     
                </div>
                <div class="post-list">
                    
                    <ul>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            <a class="zoombtn"> Digital Logic Design Projects </a>
                            <p> Circuits & Logics  </p>
                            <a href="https://minjk121.github.io/trafficlight/" class="btn zoombtn"> <img src="../projects/trafficlight.png" alt="test" style="width:150px;height:150px;"> Traffic Light System</a>
                            <a href="https://minjk121.github.io/vault-lock/" class="btn zoombtn"> <img src="../projects/lock_1.png" alt="test" style="width:150px;height:150px;"> Vault Lock System</a>
                        </li>
                    </ul>
                     
                </div>
                
<!--                 <div class="post-list">
                    
                    <ul>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            <a class="zoombtn" href="https://minjk121.github.io/vault-lock/"> Vault Lock System</a>
                            <p> Digital Logic Design Project  </p>
                            <a href="https://minjk121.github.io/vault-lock/" class="btn zoombtn"> <img src="../projects/lock_1.png" alt="test" style="width:150px;height:150px;"> Read More</a>
                        </li>
                    </ul>
                     
                </div> -->
                
                
                
                <div class="post-list">
                    
                    <ul>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            <a class="zoombtn" href="https://minjk121.github.io/cadprojects/"> CAD Projects </a>
                            <p> SolidWorks & AutoCAD  </p>
                            <a href="https://minjk121.github.io/cadprojects/" class="btn zoombtn"> <img src="../projects/spinner.png" alt="test" style="width:150px;height:150px;"> Read More</a>

                        </li>
                    </ul>
                     
                </div>
                
                
            </div>
            
<!--             <div class="row">
                  <hr class="hr-line">
                  <h3 class="title">
                         <a class="btn zoombtn" href="https://minjk121.github.io/ECE4960">
                         Fast Robots
                         </a>
                        <a class="btn zoombtn" href="https://courses.ece.cornell.edu/ece5990/ECE5725_Spring2022_Projects/Wednesday%20May%2018/Campus%20Congestion/W_ei53_mk2592/index.html">
                         Campus Congestion
                         </a>
                      <a class="btn zoombtn" href="https://pages.github.coecis.cornell.edu/yw575/ECE4760.github.io/#">
                         Spatial Audio
                         </a>
                      
                 </h3>
            </div> -->
            
        </div>
    </header>
    {% include scripts.html %}
    <script src="{{ site.url }}/assets/js/wow.min.js"></script>
    <script type="text/javascript">(new WOW).init();</script>
</body>

</html>
